body{
    background-color: black;
    padding: 50px;
    margin: 50px;
    scroll-behavior: smooth;

}
.title {
    font-size: 70px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-family: "Tiny5", sans-serif;
    font-weight: 900;
    color: white;
    display: grid;
    grid-template-columns:5ch;

}
 .quote {
    font-family: "Tiny5", sans-serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 6px;
    color: white;
    display: grid;
    grid-template-columns: 400px;

 }
 .description {
    font-family: "Tiny5", sans-serif;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: 300px;
    margin-top: 30px;
 }

.bx {
    color: white;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

  .list {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 8px;
    margin-top: 80px;

  }



.butterfly {
    display:flex;
    margin-top: -700px;
    margin-left: 800px;
    border-radius: 70px;
    transition: 0.5s;


}

.butterfly:hover {
    box-shadow: 1px 1px 40px white;
    transform: scale(1.1);
}

.tree {
    display:flex;
    margin-top: -300px;
    margin-left: 600px;
    border-radius: 70px;
    width: 400px;
    transition: 0.5s;


}

.tree:hover {
    box-shadow: 1px 1px 40px white;
    transform: scale(1.1);
}

.line {
    margin-top: 100px;
}

.page_2 {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 100px;
    
}

.page_2 .images {
    display:block;
    justify-content: space-around;
}

.page_2 .images, .one {
    border-radius: 50px;
    transition: 0.5s;
}

.one:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 50px;


}


.two {
    border-radius: 50px;
    transition: 0.5s;
}

.two:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}
.three {
    border-radius: 50px;
    transition: 0.5s;
}

.three:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}
.four {
    border-radius: 50px;
    transition: 0.5s;
}
.four:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}

.five {
    border-radius: 50px;
    transition: 0.5s;
}
.five:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}
