body{
    background-color: black;
    padding: 50px;
    margin: 50px;
    scroll-behavior: smooth;

}
.title {
    font-size: 70px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-family: "Tiny5", sans-serif;
    font-weight: 900;
    color: white;
    display: grid;
    grid-template-columns:5ch;

}
 .quote {
    font-family: "Tiny5", sans-serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 6px;
    color: white;
    display: grid;
    grid-template-columns: 400px;

 }
 .description {
    font-family: "Tiny5", sans-serif;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: 300px;
    margin-top: 30px;
 }

.bx {
    color: white;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

  .list {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 8px;
    margin-top: 80px;

  }



.butterfly {
    display:flex;
    margin-top: -700px;
    margin-left: 800px;
    border-radius: 70px;
    transition: 0.5s;


}

.butterfly:hover {
    box-shadow: 1px 1px 40px white;
    transform: scale(1.1);
}

.tree {
    display:flex;
    margin-top: -300px;
    margin-left: 600px;
    border-radius: 70px;
    width: 400px;
    transition: 0.5s;


}

.tree:hover {
    box-shadow: 1px 1px 40px white;
    transform: scale(1.1);
}

.line {
    margin-top: 100px;
}

.page_2 {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 100px;
    
}
.page_2 .dec {
    font-size: 20px;
    margin-top: -100px;
}

.page_2 .images {
    display:block;
    justify-content: space-around;
}

.page_2 .images, .one {
    border-radius: 50px;
    transition: 0.5s;
}

.one:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 50px;


}


.two {
    border-radius: 50px;
    transition: 0.5s;
}

.two:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}
.three {
    border-radius: 50px;
    transition: 0.5s;
}

.three:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}
.four {
    border-radius: 50px;
    transition: 0.5s;
}
.four:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}

.five {
    border-radius: 50px;
    transition: 0.5s;
}
.five:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}


.page_3 {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 100px;
}

.page_3 .des {
    font-size: 20px;
    margin-top: -100px;
}

.images_3 .on2{
    width: 300px;
    border-radius: 50px;
    transition: 0.5s;
}

.on2:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}

.page_4 {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 100px;
}
.page_4 .decs {
    font-size: 20px;
    margin-top: -100px;
}

.page_4 .images_4 {
    display:block;
    justify-content: space-around;
}

.page_4 .images_4, .one3 {
    border-radius: 50px;
    transition: 0.5s;
}

.one3:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}

.page_4 .images_4, .two3 {
    border-radius: 50px;
    transition: 0.5s;
}

.two3:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}


.page_4 .images_4, .three3 {
    border-radius: 50px;
    transition: 0.5s;
}
.three3:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}

.page_4 .images_4, .four3 {
    border-radius: 50px;
    transition: 0.5s;
}
.four3:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}

.page_4 .images_4, .five3 {
    border-radius: 50px;
    transition: 0.5s;
}
.five3:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
}


.page_5 {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 100px;
}

.page_5 .dec5 {
    font-size: 20px;
    margin-top: -100px;
}


.page_5 .images_5, .photo1 {
    border-radius: 50px;
    transition: 0.5s;
}

.photo1:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 


.page_5 .images_5, .photo2 {
    border-radius: 50px;
    transition: 0.5s;
}

.photo2:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_5 .images_5, .photo3 {
    border-radius: 50px;
    transition: 0.5s;
}

.photo3:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_5 .images_5, .photo4 {
    border-radius: 50px;
    transition: 0.5s;
}
.photo4:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_5 .images_5, .photo5 {
    border-radius: 50px;
    transition: 0.5s;
}

.photo5:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .dec6 {
    color: white;
    font-size: 20px;
    margin-top: -100px;
}

.page_6 .images_6, .new1 {
    border-radius: 50px;
    transition: 0.5s;
}

.new1:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .images_6, .new2 {
    border-radius: 50px;
    transition: 0.5s;
}

.new2:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .images_6, .new3 {
    border-radius: 50px;
    transition: 0.5s;
}

.new3:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .images_6, .new4 {
    border-radius: 50px;
    transition: 0.5s;
}
.new4:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .images_6, .new5 {
    border-radius: 50px;
    transition: 0.5s;
}
.new5:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .images_6, .new6 {
    border-radius: 50px;
    transition: 0.5s;
}
.new6:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_6 .images_6, .new7 {
    border-radius: 50px;
    transition: 0.5s;
}
.new7:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_6 .images_6, .new8 {
    border-radius: 50px;
    transition: 0.5s;
}
.new8:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 


.page_7 .images_7, .cool1 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool1:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_7 .images_7, .cool2 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool2:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_7 .images_7, .cool3 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool3:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 

.page_7 .images_7, .cool4 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool4:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool5 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool5:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool6 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool6:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool7 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool7:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool8 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool8:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool9 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool9:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool10 {
    border-radius: 50px;
    transition: 0.5s;
}

.page_7 .dec7 {
    color: white;
    font-size: 20px;
    margin-top: -100px;
}
.cool10:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool11 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool11:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
.page_7 .images_7, .cool12 {
    border-radius: 50px;
    transition: 0.5s;
}

.cool12:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 40px white;
    transform: scale(1.5);
    margin-left: 80px;
} 
